fastapi==0.115.12
motor==3.7.0
pydantic==2.11.3
pymongo==4.12.0
python-dotenv==1.1.0
uvicorn==0.34.1
pandas==2.2.3

numpy==2.0.2
scikit-optimize==0.10.2
sklearn-preprocessing==0.1.0
keras==3.8.0
tensorflow[and-cuda]==2.18.0 # Don't need cuda if on windows
Keras-Preprocessing==1.1.2
config==0.5.1
matplotlib==3.10.1
Requests==2.32.3
scikit_learn==1.6.1
selenium==4.31.0
SQLAlchemy==2.0.40
urllib3==2.4.0