/* Dark theme stuff */
.app-container-dark {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
}

/* Height of bar chart */
.chart-container {
    height: 500px;
}

/* Distance from the bar chart */
.data-list {
    margin-top: 20px;
}

/* ul = unordered list.
Removed the dots from list */
.data-list ul {
  list-style-type: none;
  padding: 0;
}

/* li = list item
Margin between each item
 */
.data-list li {
  margin-bottom: 8px;
}
